* {
  background-color: rgb(25, 25, 25);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
h1 {
  font-size: 40px;
  color:rgb(220, 167, 20);
  font-family: 'Press Start 2P', cursive;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: black;
  border-radius: 10px;
  border: 1px solid rgb(220, 167, 20);
}

div {
  font-family: Helvetica, Arial, sans-serif;
  font-size:90%;
  transition: 1s;
  .instructions {
    padding: 0.5em;
    color:rgb(220, 167, 20);  
    font-weight: 700;
  }
  .reveal {
    color:rgb(25, 25, 25);
  }
}
.instructions:hover {
  cursor: default;
  background-color: rgb(220, 167, 20);
  color:rgb(25, 25, 25);
}

.instructions:hover + .reveal {
  transition: 1s;
  color:rgb(220, 167, 20);
}

.header {
  display: flex;
}

.dev-info{
  border-radius: 50em;
  display: flex;
  float: left;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dev-links{
  margin-inline: .2em;
  font-size: 24px;
  text-decoration: none;
  
}

svg {
  height: 24px;
  width: 24px;
  
  fill: rgb(220, 167, 20);
}

svg:hover {
  fill: white;
}