* {
    background-color: rgb(25, 25, 25);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  h1 {
      font-size: 40px;
      color:rgb(220, 167, 20);
      font-family: 'Rampart One', cursive;  }

  canvas {
    background-color: black;
    border-radius: 10px;
    border: 1px solid rgb(220, 167, 20);
}